<header>
    <h1>Joe Kerrigan</h1>
    <p class="pronouns">(he/him/his)</p>
    <nav>
        <ul>
            <li>
                <p><a href="/">home</a></p>
            </li>
            <li>
                <p><a href="/web_resume.pdf">resume</a></p>
            </li>
            <li>
                <p><a href="/projects">projects</a></p>
            </li>
            <li>
                <p><a href="https://github.com/joek13/">github</a></p>
            </li>
        </ul>
    </nav>
</header>