<!-- toy "horoscope" component, a la co-star. See horoscope.js  -->
<div class="container is-max-desktop horoscope has-text-centered">
    <p class="subtitle mb-0 mt-2">Today's horoscope:</p>
    <div class="columns">
        <div class="column">
            <p class="subtitle mb-0">Do</p>
            <ul id="horoscope-do">
            </ul>
        </div>
        <div class="column">
            <p class="subtitle mb-0">Don't</p>
            <ul id="horoscope-dont">
            </ul>
        </div>
    </div>
</div>
<script src="/js/horoscope.js"></script>