@import "github.scss";

$color-fg: #444;
$color-bg: #EEE;
$color-accent: #8367C7;

html {
    background-color: $color-bg;
}

nav {
    margin: 10px 0;
}

body {
    font-family: 'Apple Garamond', Garamond, 'Times New Roman', serif;
    color: $color-fg;
    margin: 20px auto;
    padding: 0 20px;
    max-width: 800px;
    line-height: 1.3;
    font-size: 18px;
}

h1,h2,h3 {
    line-height: 1.2;
    margin: 10px 0;
}

a {
    color: $color-accent;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: $color-accent;
}

.subtitle {
    margin: 0;
    font-size: 1.2em;
}

header {
    text-align: center;
}

header > h1, header > nav, header > nav > p {
    margin: 0 0;
}

footer table {
    width: 100%;
    text-align: center;
    font-size: 2em;
}

footer table td p {
    margin: 0;
}

footer table td:first-child, footer table td:last-child {
    width: 40%;
}

footer table td hr {
    border: 1px solid $color-fg;
}

// styles for /index.html
#profile {
    margin-left: 20px;
    margin-bottom: 20px;
    float: right;

    @media screen and (max-width: 650px) {
        display: block;
        margin: 10px auto;
        float: none;
    }
}

// styles for /blog

ul.blog-list {
    list-style: none;
    padding: 0;
}

li.post-item > p {
    margin: 0;
}
