@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$family-sans-serif: "Inter", sans-serif;

// color overrides
$turquoise: #4ECDC4;
$red: #FF6B6B;
$dark: #292f36;
$grey-darker: #292f36;
$purple: #8a4fff;
$lavender: #c3bef7;

$primary: $purple;

$body-font-size: 1.0em;

@import "bulma/bulma";

.horoscope {
    max-width: 600px;
}