@import "base.scss";

img {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

    max-width: 100%;
}

figcaption {
    text-align: center;
    font-style: italic;
}

pre.highlight > code {
    background-color: white;
    border: 1px solid $color-fg;
    font-size: 0.8em;
    display: block;
    padding: 10px;
    overflow-x: scroll;
}

code {
    font-size: 0.85em;
}