---
---
<!-- default page layout with header and basic seo tags -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="Joe Kerrigan">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.description }}">
    <link rel="stylesheet" href="/css/default.css" />
</head>

<body>
    {%include header.html %}
    {% unless page.breadcrumbs == false %}
    <nav>
        {% include breadcrumbs.html %}
    </nav>
    {% endunless %}
    <main>
        {{ content }}
    </main>
</body>

</html>
